Schema/libro_6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/Libro"
	xmlns="http://www.example.org/Libro"
	elementFormDefault="qualified">
	<xs:element name="libro">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="autor" type="cadenapeque" />
				<xs:element name="titulo" type="cadenapeque" />

			</xs:sequence>
		</xs:complexType>

	</xs:element>
	<xs:simpleType name="cadenapeque">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>